.wrapper {
  display: grid;
  grid-template-columns: [start] auto 1fr auto auto [end];
  align-items: center;
  gap: 10px;

  font-size: 14px;
  line-height: 24px;

  @media screen and (max-width: 640px) {
    grid-template-columns: [start] 30px [titlestart] auto [dataend] 1fr [end];
  }
}

.wrapperTitle {
  @media screen and (max-width: 640px) {
    grid-column: titlestart / end;
  }
}

.name {
  font-weight: bold;
}

.date {
  margin-right: 10px;

  @media screen and (max-width: 640px) {
    grid-column: start / end;
  }
}

.rating {
  @media screen and (max-width: 640px) {
    grid-column: start / end;
  }
}

.description {
  grid-column: start / end;
}
