.wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.wrapperContent {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.button {
  margin-top: 12px;
}
