.wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 50px auto;
  gap: 40px;

  &:after {
    content: "";
    background: var(--gray-pallets-50);
    position: absolute;
    bottom: 0;
    left: 25px;
    height: calc(100% - 68px);
    width: 1.5px;
  }
}

.wrapperText {
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
}

.description {
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  margin-top: 20px;
}
