.menu {
  margin-top: 24px;
}

.firstLevel {
  display: grid;
  grid-template-columns: 24px 1fr;
  gap: 20px;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  margin-top: 20px;
  transition: .2s;

  &:hover {
    color: var(--primary);

    svg {
      fill: var(--primary);
    }
  }
}

.firstCategoryActive {
  color: var(--primary);
  transition: .2s;

  svg {
    fill: var(--primary);
  }
}

.secondLevel {
  margin-bottom: 10px;
  cursor: pointer;
  text-transform: uppercase;

  color: var(--gray-dark);

  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
}

.secondBlock {
  margin-left: 12px;
  margin-top: 12px;
  padding-left: 32px;
  border-left: 1px solid var(--gray-pallets-40);
}

.secondLevelMenu {
  overflow: hidden;
}

.thirdLevel {
  display: block;
  margin-bottom: 8px;
  cursor: pointer;

  color: var(--gray-dark);

  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  transition: .2s;
  outline-offset: -1px;

  &:hover {
    color: var(--primary);
  }
}

.thirdLevelActive {
  color: var(--primary);
}
